.thumbnail img {
    width:100%;
}

.thumbnail {
    padding:0;
}

.thumbnail .caption-full{
    padding: 9px;
}

#deleteForm {
    display: inline;
}

.buttonContainer a{
    display: inline-block;
    margin-right:10px;
}