.row.text-center{
	display:flex; 
	flex-wrap:wrap;
}

.thumbnail img {
    width:100%;
	height:60%;
}

.rowCell{
	margin-bottom:10px;
}

.row.text-center .thumbnail {
    padding:0;
	height:100%;
}

.thumbnail .caption-full{
    padding: 9px;
}

#deleteForm {
    display: inline;
}

.buttonContainer a{
    display: inline-block;
    margin-right:10px;
}

